/CIFAR/Jenifer's feature extraction/*.txt

/CIFAR/Jenifer's feature extraction/*.mat

/CIFAR/Jenifer's feature extraction/*.m

/CIFAR/cifar-10-batches-mat/*.mat

/CIFAR/cifar-10-batches-mat/*.html

/CIFAR/*.mat
